<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tablecss.css">
</head>
<body>
    <table><thead><tr>
                <th>Flight Code</th>
                <th>Airline ID</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>No of seats</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            <% for(var i=0; i < jsonres.length; i++) { %>
                <tr>
                  <td><%= jsonres[i].FLIGHT_CODE %></td>
                  <td><%= jsonres[i].AL_ID %></td>
                  <td><%= jsonres[i].FROM_PLACE %></td>
                  <td><%= jsonres[i].TO_PLACE %></td>
                  <td><%= jsonres[i].DEPARTURE %></td>
                  <td><%= jsonres[i].ARRIVAL %></td>
                  <td><%= jsonres[i].NO_OF_SEATS %></td>
                  <td><%= jsonres[i].DURATION %></td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>
</html>