<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tablecss.css">
</head>
<body>
    <table><thead><tr>
                <th>Ticket no</th>
                <th>Seat no</th>
                <th>From</th>
                <th>To</th>
                <th>Class</th>
                <th>Booking date</th>
                <th>Passenger ID</th>
                <th>Travel date</th>
                <th>Flight Code</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            <% for(var i=0; i < jsonres.length; i++) { %>
                <tr>
                  <td><%= jsonres[i].TICKET_NO %></td>
                  <td><%= jsonres[i].SEAT_NO %></td>
                  <td><%= jsonres[i].FROM_PLACE %></td>
                  <td><%= jsonres[i].TO_PLACE %></td>
                  <td><%= jsonres[i].CLASS %></td>
                  <td><%= jsonres[i].BOOKING_DATE %></td>
                  <td><%= jsonres[i].P_ID %></td>
                  <td><%= jsonres[i].TRAVEL_DATE %></td>
                  <td><%= jsonres[i].FLIGHT_CODE %></td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>
</html>